.slide{
  font-family: 'Poppins', sans-serif;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  
}


.slideImage{
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
  margin: auto;
}

.slide h3{
  color: #fff;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}



@media (max-width: 1270px) {
  .slide{
    width: 18rem;
    margin: auto;
  }

}
@media (max-width: 290px) {
  .slide{
    width: 16rem;
    margin: auto;
  }  
}
