@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container {
    width: 80vw;
    /* height: 70vh; */
    background-color: #0b1517;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 8rem;
    border-radius: 0.5rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
.containerTwo {
  width: 80vw;
  /* height: 70vh; */
  background-color: #0b1517;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: auto;
  margin-bottom: 4rem;
  /* margin-top: 1rem; */
  border-radius: 0.5rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }


  @media (max-width: 500px){
    .container, .containerTwo{
      width: 100vw;
    }
  }