@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');

.body {
  box-sizing: border-box;
}

.bgImage {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  object-fit: cover;
  opacity: 0.5;
  z-index: -2;
}

.home {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 0.7rem;
  margin-left: 12vw;
}


.anotherSection {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerOne {
  width: 90%;
  background-color: #0b1517;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: auto;
  bottom: 4rem;
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.containerInfo {
  display: flex;
  padding: 5rem;
  gap: 5rem;
  justify-content: space-evenly;
  margin-left: 2rem;
}

.containerOne h2 {
  font-size: 4rem;
  font-weight: bold;
  padding-top: 3rem;
  padding-left: 5rem;
}

.containerInfo p {
  font-size: 16px;
}

.infoHolder {
  text-align: right;
}

.infoLink {
  text-align: right;
  margin-right: 1.5rem;
  font-size: 2rem;
}

.infoLink:hover {
  color: rgb(234, 88, 12);
  text-decoration: underline;
}

.image {
  height: 30rem;
  width: 30rem;
  position: relative;
  bottom: 2rem;
}

.thirdSection {
  background-color: #0B1517;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoLinkMeny{
  color: orangered;
  margin-left: 5rem;
  font-size: 1.25rem;
  cursor: pointer;
  position: relative;
}

.infoLinkMeny::before {
  transition: 300ms;
  height: 1.5px;
  content: "";
  position: absolute;
  background-color: orangered;
  width: 0%;
  bottom: 2px;
}


.infoLinkMeny:hover::before {
  width: 100%;
}

.carouselContainer{
  margin-top: 3rem;
  width: 95vw;
  min-height: 90vh;
  padding: 2rem;
  background-color: #0B1517;
  border-radius: 1rem;
}



.fourthSection {
  min-height: 100vh;
  display: flex;
  background-color: #0b1517;
}

.fourthSectionImage {
  width: 50%;
  image-rendering: crisp-edges;
  object-fit: cover;
}

.infoContainer {
  flex: 1;
  margin: 4rem auto;
  margin-bottom: 0;
  width: 90%;
  height: 90%;
  text-align: center;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.infoContainer h2 {
  font-size: 6rem;
  font-weight: bold;
  width: 90%;
  line-height: 5rem;
  margin: auto;
}

.infoContainer p {
  margin: 2.5rem auto;
  font-size: 1.8rem;
  font-weight: bold;
}

.infoContainer span {
  width: 60%;
  font-size: 1.2rem;
  margin: auto;
}

.infoContainer a {
  display: inline-block;
  font-size: 1.3rem;
  width: 30%;
  font-weight: bold;
  margin: 2rem auto;
  margin-bottom: 0;
  padding: 1rem;
  color: rgb(234, 88, 12);
  border: 3px solid rgb(234, 88, 12);
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
}

.infoContainer a:hover {
  transform: scale(1.05);
}

.fifthSection {
  height: 30vh;
  background-color: #0b1517;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifthSectionCOntainer {
  width: 80%;
  border: 0.5px solid #fff;
  height: 0;
  display: flex;
  justify-content: center;
}

.fifthSectionCOntainer button {
  position: relative;
  background-color: #0b1517;
  height: 5rem;
  bottom: 4rem;
  padding: 2rem;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.fifthSectionCOntainer button:hover {
  color: rgb(234, 88, 12);
}

@media (max-width: 1200px) {
  .home {
    min-height: 80vh;
  }

  .containerInfo {
    flex-direction: column;
    padding: 1rem;
    margin-left: 0;
  }

  .containerOne h2,
  .containerTwo h2 {
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
  }

  .containerInfo p {
    font-size: 1rem;
    text-align: center;
  }

  .infoHolder {
    text-align: center;
    margin-top: 1rem;
  }

  .infoLink {
    text-align: center;
    font-size: 2rem;
    color: rgb(234, 88, 12);
  }

  .image {
    margin: auto;
  }

  .image {
    width: 15rem;
    height: 15rem;
  }

  .fourthSection {
    display: block;
  }

  .fourthSection img {
    width: 100%;
  }

  .infoContainer h2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 800px) {
  .heading{
    font-size: 11rem;
  }

  .infoLinkMeny{
    margin-left: 0;
  }
  
  .home {
    margin-left: 0;
    padding: 1rem;
  }
}

@media (max-width: 440px) {
  .heading {
    font-size: 7rem;
  }
  .description {
    font-size: 5vw;
    bottom: 0;
  }

  .infoLink {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 0;
    color: rgb(234, 88, 12);
    text-decoration: underline;
    padding: 5px;
    margin-top: 1rem;
  }

  .infoContainer h2 {
    font-size: 2rem;
    width: 100%;
    line-height: 3rem;
  }

  .infoContainer p {
    font-size: 1rem;
    font-weight: bold;
  }

  .infoContainer span {
    font-size: 1rem;
    width: 100%;
  }

  .infoContainer a {
    width: 80%;
  }

}
