@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.bgImageLogin{
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
  }

  .container{
    margin-top: 5rem;
    min-height: 80vh;
    width: 60vw;
    background-color: #0B1517;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }



  @media (max-width: 630px) {
    .container{
      width: 90vw;
    }
  }
  