.body{
    /* min-height: 150vh; */
    font-family: 'Poppins', sans-serif;
}



  .containerOne {
    width: 90vw;
    min-height: 70vh;
    background-color: #0b1517;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }